[*.cs]
 
# SA1309: Field Names Must Not Begin With Underscore 
dotnet_diagnostic.SA1309.severity = silent

# SA1201: A field should not follow a constructor
dotnet_diagnostic.SA1201.severity = silent

# SA1000: Keywords should be spaced correctly  
dotnet_diagnostic.SA1000.severity = silent 

# SA1111: Closing parenthesis should be on line of last parameter  
dotnet_diagnostic.SA1111.severity = silent 

# SA1009: Closing parenthesis should not be preceded by a space
dotnet_diagnostic.SA1009.severity = silent 

[*]
end_of_line = lf
insert_final_newline = true
